@import "../../../node_modules/@fortawesome/fontawesome-free/less/fontawesome.less";
@import "../../../node_modules/@fortawesome/fontawesome-free/less/solid.less";
@import "../../../node_modules/@fortawesome/fontawesome-free/less/brands.less";

:global(.ingredient) {
  .fa-icon;
  .fas;
}
:global(.gacha-result) {
  animation-name: fade-out;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
:global(.vegetable) {
  &:before {
    content: @fa-var-leaf;
    color: green;
  }
}
:global(.meat) {
  &:before {
    content: @fa-var-drumstick-bite;
    color: darkred;
  }
}
:global(.seafood) {
  &:before {
    content: @fa-var-fish;
    color: blue;
  }
}
:global(.topping) {
  &:before {
    content: @fa-var-wine-bottle;
    color: blue;
  }
}
:global(.paste) {
  &:before {
    content: @fa-var-bacon;
    color: blue;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
