@import "../../../node_modules/@fortawesome/fontawesome-free/less/fontawesome.less";
@import "../../../node_modules/@fortawesome/fontawesome-free/less/solid.less";
@import "../../../node_modules/@fortawesome/fontawesome-free/less/brands.less";

:global(.ingredient) {
  .fa-icon;
  .fas;
}
:global(.gacha-result) {
  opacity: 1.0;
  transition: all .5s ease-out;
}
:global(.gacha-result-enter-active),
:global(.gacha-result-leave-active) {
  transition: all .5s;
}
:global(.gacha-result-enter),
:global(.gacha-result-leave-to) {
  opacity: 0;
}
:global(.vegetable) {
  &:before {
    content: @fa-var-leaf;
    color: green;
  }
}
:global(.meat) {
  &:before {
    content: @fa-var-drumstick-bite;
    color: darkred;
  }
}
:global(.seafood) {
  &:before {
    content: @fa-var-fish;
    color: blue;
  }
}
:global(.topping) {
  &:before {
    content: @fa-var-wine-bottle;
    color: blue;
  }
}
:global(.paste) {
  &:before {
    content: @fa-var-bacon;
    color: blue;
  }
}
